.goalInfoContainer {
    position: relative;
    z-index: 10;
    padding: 2rem 1rem;
    text-align: center;
}
.goalInfoTitle {
    margin-bottom: 1rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 800;
    letter-spacing: -0.025em;
    color: #111827;

    @media (min-width: 768px) {
        font-size: 3rem;
        line-height: 1;
    }
    @media (min-width: 1024px) {
        font-size: 3.75rem;
        line-height: 1;
    }
}
.goalInfoText {
    margin-bottom: 2rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 400;
    color: #6B7280;

    @media (min-width: 640px) {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    @media (min-width: 1024px) {
        padding-left: 12rem;
        padding-right: 12rem;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}
.tabContainer {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #6B7280;

    @media (min-width: 768px) {
        margin-bottom: 0;
    }
}
.tabButton {
    display: inline-block;
    padding: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-width: 2px;
}
.contentContainer {
    padding: 1.5rem;
    border-radius: 0.5rem;
    width: 100%;
    color: #6B7280;
    background-color: #F9FAFB;
}
.listContainer {
    margin-top: 1.25rem;
    list-style-type: decimal;
    list-style-position: inside;
    color: #6B7280;
}
.tableContainer {
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: left;
    color: #6B7280;
}